
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  } */


  /* My Css */
.NavBar{
  width: 100%;
  background-color: lightpink;
  display: flex;
  justify-content: space-around;
}
.NavBar  ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.NavBar ul li a{
  border-radius: 5px;
  color: black;
  padding: 0px 10px;
}
.NavBar ul li a:hover{
  background-color: pink;
  color: rgb(95, 94, 94);
  padding: 10px 10px;
  transition: ease-in-out all .5s;
}
.NavBar li{
  padding: 10px;
}





/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* @media (prefers-color-scheme: dark) {
} */